html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
  color: #999999;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* ......HEADER....... */

.masthead {
  margin-bottom: 112px;
}

.mastnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 490px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", "Arial", sans-serif;
}

.site-nav a:hover,
.site-nav a:focus {
  background-color: #95e1d3;
  color: #ffffff;
}

.site-nav .about:hover {
  border-bottom: 3px solid #f38181;
}


/* .........Main......... */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-list-item {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(33.333% - 20px);
  margin-bottom: 96px;
}

.services-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}