@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v12-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v12-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v12-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v12-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab-v7-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-slab-v7-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DroidSerif-Italic.woff2") format("woff2"),
    url("../fonts/DroidSerif-Italic.woff") format("woff");
}

@font-face {
  font-family: "Wisdom Script";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/WisdomScriptAJ.woff2") format("woff2"),
    url("../fonts/WisdomScriptAJ.woff") format("woff");
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
  color: #777777;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: "Roboto Slab", "Times New Roman", serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 94rem;
  margin: 0 auto;
}

/* ........HEADER..... */

.section {
  padding-top: 10.2rem;
  padding-bottom: 11.4rem;
}

.mastnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 14.2rem;
}

.logo {
  display: block;
  text-decoration: none;
  font-size: 2.6rem;
  line-height: 4.2rem;
  font-weight: 400;
  font-family: "Wisdom Script", "Arial", sans-serif;
  color: #222222;
}


.logo:hover,
.logo:focus {
  color: #fed136;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 48.6rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 4.2rem;
  font-weight: 400;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #222222;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #fed136;
}

/* ......Section Services..... */

.services {
  padding-bottom: 12rem;
}

.services-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 7.4rem;
}

.services-header-title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 7.6rem;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
}

.services-header-caption,
.contact-header-caption {
  font-family: "Droid Serif", "Times New Roman", serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.8rem;
  color: #777777;
  margin: 0;
}

.services-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-list-item {
  flex: 0 0 29rem;
  text-align: center;
}

.services-list-title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 7.6rem;
  color: #222222;
  margin: 0;
}

.services-list-caption {
  margin: 0;
}

.services-list-item::before {
  content: "";
  display: block;
  height: 7.4rem;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-basket::before {
  background-image: url("../img/Icon-Basket.png");
}

.icon-laptop::before {
  background-image: url("../img/Icon-Laptop.png");
}

.icon-locked::before {
  background-image: url("../img/Icon-Locked.png");
}

/* .......Section Contact..... */

.contact {
  background-image: url("../img/Map-Image.jpg");
}

.contact-header {
  text-align: center;
  margin-bottom: 7.6rem;
}

.contact-header-title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

input,
button {
  font-family: "Montserrat", "Arial", sans-serif;
}

.signup-form-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.8rem;
}

.signup-form-input {
  display: flex;
  flex-direction: column;
  width: 45.6rem;
  margin-right: 3rem;
}

.signup-form textarea {
  flex-grow: 1;
}

.signup-form input,
.signup-form textarea {
  padding: 1.6rem 0rem 1.8rem 2rem;
}

.signup-form input:not(:last-of-type) {
  margin-bottom: 2.8rem;
}

.signup-form input[required]:invalid,
.signup-form textarea[required]:invalid {
  border: 2px solid #FF0000;
}

.signup-form input[required]:valid,
.signup-form textarea[required]:valid {
  border: 2px solid #43f40d;
}

.signup-form input::placeholder,
.signup-form textarea::placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
}

.signup-form-button {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgb(254, 209, 54);
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  width: 24rem;
  height: 6.6rem;
  cursor: pointer;
  transition: background-color 1s linear;
}

.signup-form-button:hover {
  background-color: #FF4500;
}






