html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  color: #666666;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  font-family: "Roboto", "Arial", sans-serif;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 15px;  
}

/* HEADER */

.page-header {
  padding-top: 20px;
  background-image: url("../img/Vector-Smart-Object.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-nav {
  min-height: 198px;
}

.site-navigation {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 20px;
  width: 90px;
  text-align: center;
}

.site-navigation-link:hover {
  border: 2px solid #ffffff;
}

.site-logo {
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #ffffff;
  text-align: center;
}

/* SECTION HERO */

.hero {
  text-align: center;
  color: #ffffff;
}

.hero-header-title {
  text-transform: uppercase;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  margin: 0;
}

.hero-header-subtitle {
  margin: 0;
}

.hero-header-button {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  width: 280px;
  padding: 12px 46px;
}

.hero-header-button:hover {
  background-color: #E933FF;
}

/* SECTION PARTNERS */

.partners {
  background-color: #ffffff;
  padding-top: 66px;
  padding-bottom: 56px;
}

.partners-title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
}

.partners-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners-list-item {
  text-align: center;
}

.partners-list-image {
  position: relative;
  margin-bottom: 20px;
}

.partners-list-image::before {
  content: "";
  display: block;
  width: 37px;
  height: 37px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 180px;
  bottom: 0px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.shape-1::before {
  background-image: url("../img/Shape-1.png");
  background-color: rgb(255, 78, 80);
}


.shape-2::before {
  background-image: url("../img/Shape-2.png");
  background-color: rgb(255, 165, 7);
}

.shape-3::before {
  background-image: url("../img/Shape-3.png");
  background-color: rgb(28, 215, 173);
}

.shape-4::before {
  background-image: url("../img/Shape-4.png");
  background-color: rgb(78, 115, 219);
}

.partners-list-name {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  margin: 0;
  margin-bottom: 12px;
}

.partners-list-subtitle {
  margin: 0;
}


.partners-button {
  display: block;
  margin: 0 auto;
  padding: 10px 70px;
  border-radius: 20px;
  border: 2px solid rgb(255, 78, 80);
  background-color: rgb(255, 255, 255);
}

/* MEDIA */

@media (max-width: 767px) {
  .page-header {
    padding-bottom: 138px;
  }

  .page-nav {
    margin-bottom: 34px;
  }

  .site-navigation {
    margin-bottom: 122px;
  }

  .hero-header-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 14px;
  }

  .hero-header-subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 18px;
  }

  .partners-list {
    margin-bottom: 28px;
  }

  .partners-list-item {
    margin-bottom: 28px;
  }
}

@media (min-width: 768px) {
  .page-header {
    padding-bottom: 232px;
  }

  .page-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 154px;
    min-height: 120px;
  }

  .hero-header-title {
    font-size: 52px;
    line-height: 62px;
    font-weight: 800;
    margin-bottom: 34px;
  }

  .hero-header-subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 800;
    margin-bottom: 32px;
  }

  .partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
  }

  .partners-list-item {
    flex-basis: 236px;
  }

  .partners-list-image::before {
    left: 140px;
  }

  .partners-list-item:nth-child(2n+1) {
    margin-right: 20px;
  }

  .partners-title {
    margin-bottom: 34px;
  }

  .wrapper {
    width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 957px) {
  .partners-list-item:nth-child(-n+2) {
    margin-bottom: 58px;
  }
}

@media (min-width: 958px) {
  .wrapper {
    width: 940px;
  }

  .partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .partners-list-item {
    flex-basis: 220px;
    flex-grow: 0;
  }

  .partners-list-item:not(:last-child) {
    margin-right: 20px;
  }

  .partners-list-item:not(:nth-child(-n+4)) {
    margin-bottom: 38px;
  }
}
