html{
	box-sizing:border-box;
}

*,
*::before, 
*::after{
	box-sizing: inherit;
}

body {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 400;
    color: #626262;
    font-size: 14px;
    line-height: 24px;   
}

.wrapper{
	padding-top: 72px;
	padding-bottom: 70px;
	width: 900px;
	margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}

/* ............header......... */

.page-header {
    margin-bottom: 98px;
}

.main-menu {
    margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

.main-menu a{
    display: block;
    color:#626262;
	text-decoration: none;
	text-transform: uppercase;
    font-size: 14px;
}

.main-menu-item {
    margin-right: 50px;
    display: inline-block;
}

.main-menu li:last-child {
    margin-right: 0px;
}

.main-menu a:hover,
.main-menu a:focus{
	color: #03a9f4;
}

/* .............main............ */
.image {
    display: block;
    margin-bottom: 30px;
}

.caption {
    font-family: "Ubuntu", "Arial", sans-serif;
    font-weight: 300;
    color: #b4ad9e;
    line-height: 17px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 24px;
}

.title {
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 32px;
}

.item {
    margin: 0;
}

.article {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    margin-bottom: 52px;
}

.article-item {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 130px;
    font-size: 14px; 
}

.article-item:nth-child(2n) {
    margin-right: 0px;
}

.article-item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
}

/* ............button......... */
.button {
    margin: 0 auto;
    display: block;
    font-size: 20px;
    border: 1px solid #cbcbcb;
    background-color: #ffffff;
    color: #626262;
    padding: 20px 34px 18px 32px; 
}

.button:hover {
    background-color: green;
    color: aqua;
}

